{{ "<!-- Pricing Section -->" | safeHTML }}
<section id="pricing" class="bg-light-gray">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.pricing.title }}{{ . | markdownify }}{{ end }}</h2>
                <p class="section-subheading text-mutedwith ">{{ with .Site.Params.pricing.subtitle }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>

        <div class="col-sm-8 col-sm-offset-2 pricing">

            <h3>Setup</h3>

            <p>One-time cost of $2500 for 37 hours of systems and client support time.</p>

            <p>Systems setup includes installation and configuration activities, optional connection to a local AtoM instance, and user creation.</p>

            <p>Client support includes initial testing, consultation through a readiness and needs analysis interview process, an initial training session, consultation and recommendations regarding settings and usage during the first twelve weeks of the service, and access to workflow documentation and ingest tools.</p>

            <p>Additional integrations such as DSpace, automated workflows or connecting with local storage available at additional cost based on hours worked.</p>

            <h3>Training (Optional)</h3>

            <p>$300 per day plus travel and expenses (in person); $65 per hour
            online training.</p>

            <p>Includes additional training on using Archivematica after onboarding support such as consultation on workflows and best practices for specific materials, assistance in overseeing transfers, and assistance in validating the results of test transfers.

            <h3>Annual costs</h3>

            <p>Billed for one instance of Archivematica on an annual basis. Additional instances available for the full price of hardware cost plus 50% of one-time setup and annual technical support costs.

            <h4>Hardware</h4>

            <table class="table">
                <tr>
                    <td>Level 1 (4 cores / 8GB memory / 500 GB processing space)</td>
                    <td>$1,400</td>
                </tr>
                <tr>
                    <td>Level 2 (8 cores / 16GB memory / 1 TB processing space)</td>
                    <td>$2,800</td>
                </tr>
            </table>

            <h4>Storage</h4>

            <p>Charged at the OCUL OLRC Rate. Permafrost participants do not have to be OLRC subscribers. Permafrost participants who are OCUL members will receive a single bill for total OLRC storage used.</p>

            <table class="table">
                <tr>
                    <td>Per 1TB</td>
                    <td>$320 / year</td>
                </tr>
                <tr>
                    <td>5TB and up</td>
                    <td>$1,600 / year (includes OLRC membership)</td>
                </tr>
            </table>

            <h4>Technical support</h4>

            <p>Technical support includes updates within six months of new releases, triaging and troubleshooting errors and transfer failures, user management, and general monitoring and system maintenance.</p>

            <p>Based on full time equivalent (FTE) <a href='https://ocul.on.ca/populations'>student population statistics</a>.</p>

            <table class="table">
                <thead>
                    <th>FTE</th>
                    <th>Annual cost</th>
                </thead>
                <tr>
                    <td>Up to 5,000</td>
                    <td>$1,000</td>
                </tr>
                <tr>
                    <td>5,000-15,000</td>
                    <td>$2,000</td>
                </tr>
                <tr>
                    <td>15,000-30,000</td>
                    <td>$4,000</td>
                </tr>
                <tr>
                    <td>30,000-45,000</td>
                    <td>$6,000</td>
                </tr>
                <tr>
                    <td>45,000 and up</td>
                    <td>$8,000</td>
                </tr>
            </table>
        </div>
    </div>
</section>
